body {
  background-color: #C7D2E3;
  opacity: 0.9;
}

hr  {
border:none;
background-color:none;
height:1px;
width:15%;
border-top: 2mm dotted black;

}

h1 {
  color:  #12294B;

}

h2 {
  color:  #385379;
}
