body {
  background-color:##A9A9A9;
  opacity: 0.9;
}

hr  {
border:none;
background-color:none;
height:1px;
width:15%;
border-top: 2mm dotted black;

}

h1 {
  color:  #000080;
}

h2 {
  color:  #000080;
}
